/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

header, footer {
    background-color: #3535ec;
    width: 100vw;
    height: 100px;
}

/* header rules */
.ms_title {
    font-size: 2rem;
    font-weight: 800;
}


/* main rules */
.ms_home_page {
    background-image: url(../img/glacier_express_grisons_switzerland-1920x1080.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100% - 50px);
}

.ms_ticket_info, .ms_ticket_slot {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.ms_ticket {
    background-color: #fff;
    color: #000000;
}

input, select {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
}

/* footer rules */
footer {
    height: 50px;
    line-height: 50px;
}
