/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

header, footer {
    background-color: #3535ec;
    width: 100vw;
    height: 100px;
}

/* header rules */
.ms_title {
    font-size: 2rem;
    font-weight: 800;
}


/* main rules */
.ms_home_page {
    background-image: url(../img/glacier_express_grisons_switzerland-1920x1080.jpg);
    background-size: cover;
}

.ms_ticket_info, .ms_ticket_slot {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    height: auto;
}

.btn-light {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #fff;
    color: #fff;
}

.ms_ticket_slot {
    display: none;
}

input, select {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
}

.ms_ticket {
    background-color: #3535ec;
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

#ms_logo_ticket {
    width: 30px;
    height: 30px;
}

#ms_title_ticket {
    font-size: 1.3rem;
}

.ms_slot_identity_user, .ms_price_seat_ticket {
    background-color: #fff;
    font-size: 1rem;
    height: 150px;
    border-radius: 20px;
}

.ms_slot_identity_user *, .ms_price_seat_ticket * {
    color: #3535ec;
}

/* footer rules */
footer {
    height: 50px;
    line-height: 50px;
}
